.charas__contain {
    padding: 2rem;

    //MAIN EXPLAINATION
    .charas__main__img {
        display: flex;
        justify-content: center;
        margin-top: 7rem;
        margin-bottom: 8rem;

        .charas__main__desc {

            .charas__main__title {
                margin-top: 5rem;
                color: rgb(18, 156, 18);
                font-size: 5rem;
                font-family: $font-second;
                letter-spacing: 0.5rem;
                @extend %titles;
            }

            .charas__main__subtitle {
                font-size: 2.5rem;
                font-style: italic;
                font-weight: 900;
            }

            p {
                @extend %paragraph;
            }
        }
    }

    //CAROUSEL
    .carousel-inner {
        margin: 3rem 0;

        .row__carousel__characters {
            display: flex;
            justify-content: center;

            .carousel__img {
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                filter: grayscale(80);

                &:hover {
                    filter: none;
                }
            }
        }

        .home__carousel__arrow--characters {
            height: 4rem;
            width: auto;
            margin: 15rem;
        }
    }

    //GALLERY CHARACTERS
    .subtitles {
        text-align: center;
    }

    .gallery__divider {
        @extend %divider,
    }

    .charas__gallery__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .charas__gallery__col {
            padding: 0.5rem;

            img {
                width: 40rem;
                height: 22rem;
                margin-top: $size-main;
                filter: grayscale(80);

                &:hover {
                    filter: none;
                }
            }
        }
    }
}