
.creators__contain {
    padding: 2rem;
    .container {
        margin-top: 8rem;
    }
    .subtitle {
        margin: 0 0 3rem 0;
        &--margin {
            margin-top: 8rem;
        }
    }
    .creators__divider {
        @extend %divider,
        }
    .destacado {
        color: $emphasis;
        text-align: center;
        font-size: $size-main*2;
        margin-top: 4rem;
        &--color {
            color: $color-details;
            size: 1.4rem;
            padding-left: 3rem;
        }
    }

    .creators__img {
        width: 100%;
        border-radius: $size-main
    }
    p {
        margin: 3rem 2rem;
        @extend %paragraph;
    }

    //ACORDEON

    .accordion {
        .accordion-header {
            margin-bottom: 3%;
            }
        .creators__button {
            color: $color-details;
            font-size: 5rem;
            padding: 3rem 0;
            &::after {
                background-image: none;
            }
        }
    }
}