//GENERAL

body {
    background-color: $color-third;
    background-image: url('../images/general/BG__site.jpeg');
    background-repeat: repeat;
    color: $color-main;
    font-family: $font-main;
}

a {
    text-decoration: none;
    color: $emphasis;
}

li {
    list-style: none;
}

//HEADER MAIN

header .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contain {

    .header__nav {
        position: fixed;
        left: 0px;
        height: 12rem;
        font-family: $font-second;
        letter-spacing: $size-main;
        width: 100%;
        padding-top: $size-main;
        background-color: $color-third;
        background-image: $gradient;
        z-index: 50;
        display: flex;
        justify-content: space-evenly;
    }

    .header__logo__mando {
        height: 7.5rem;
        width: 24rem;
        // margin-left: 30rem;
    }

    ul {
        display: flex;

        // margin-right: 30rem;
        li {
            margin-left: 3rem;
            padding-top: 2rem;

            a {
                color: $color-main;
                font-size: 2rem;
                font-family: $font-second;
                letter-spacing: 0.3rem;
            }
        }
    }

    .header__menu__link {
        transition: 0.3s ease;
        text-decoration: none;
        padding: 2rem 0;
        margin: 0 2rem;

        &:hover {
            border-top: 2px solid $emphasis;
            border-bottom: 2px solid $emphasis;
            padding: 0.8rem 0;
            color: $emphasis;
        }
    }

    .header__intro {
        color: $color-main;
        font-size: 4rem;
        font-family: $font-second;
        text-align: center;
        padding: 8rem;
        line-height: 1.6;
        letter-spacing: $size-main;
    }

    .header__parallax__main {
        background-image: url("../images/parallax/main-header.jpg");
        @extend %parallax-main,
    }

    .header__parallax__home {
        min-height: 50rem;
        background-image: url("../images/parallax/main-image.jpg");
        @extend %parallax-main,
    }

    .header__parallax__creators {
        background-image: url("../images/parallax/sw-creators.jpg");
        @extend %parallax-title,
    }

    .header__parallax__characters {
        background-image: url("../images/parallax/sw-characters.jpg");
        @extend %parallax-title,
    }

    .header__parallax__episodes {
        background-image: url("../images/parallax/sw-episodes.jpg");
        @extend %parallax-title,
    }

    .header__parallax__extras {
        background-image: url("../images/parallax/sw-extras.jpg");
        @extend %parallax-title,
    }

    .header__title {
        color: $color-main;
        font-size: 4rem;
        font-family: $font-second;
        text-align: center;
        padding: 30rem 0 20rem 0;
        line-height: 1.6;
        letter-spacing: $size-main;
    }

}

.header__nav__icon {
    display: none;
}

.subtitle {
    color: $subtitle-color;
    margin: 3rem 0 3rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;

    &.subtitle--size {
        margin: 0.5rem 0;
        font-size: 2rem;
        letter-spacing: 0;
    }

    &.subtitle--placing {
        text-align: center;
    }
}


//FOOTER

.footer__contain {
    margin-left: 0p;
    margin-right: 0;
    margin-top: 8rem;
    padding: 2rem;
    background-color: $color-third;
    background-image: $gradient;
    height: auto;
    text-align: center;
    z-index: 40;

    .footer__logo {
        margin-left: auto;
        margin-right: auto;
        height: 6rem;
        width: 10rem;
        padding: 0.5rem;
    }

    .footer__copyright {
        font-size: $font-main;
        font-weight: 300;
    }
}