
    //INTRO
.animate__animated.animate__fadeInDown {
    --animate-duration: 5s;
}

    //SUBTITLES
// .animate__fadeInLeft {
//     --animate-duration: 8s;
// }

//IFRAME SUB
.animate__zoomIn {
    --animate-duration: 3s;
}

//IFRAME VIDEO
.animate__fadeIn {
    --animate-duration: 3s;
}