// Media querie DESKTOP 1444px

@media screen and (max-width: 1444px) {
    .header__nav {
        position: fixed;
        left: 0px;
        height: 15rem;
        font-family: $font-second;
        letter-spacing: $size-main;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: $size-main;
        padding-left: 10rem;
        padding-right: 10rem;
        background-color: $color-third;
        background-image: $gradient;
        z-index: 50;
    }

}

// MEDIA QUERIE LATOP MIN 1200px

@media screen and (max-width: 1200px) {
    header ul li a {
        color: $color-main;
        font-size: $size-main;
        font-family: $font-second;
        letter-spacing: 0.3rem;
    }

    .header__nav {
        position: fixed;
        left: 0px;
        height: 15rem;
        font-family: $font-second;
        letter-spacing: $size-main;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: $size-main;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: $color-third;
        background-image: $gradient;
        z-index: 50;
    }
}

// MEDIA QUERIE LATOP MIN 1199px
@media screen and (max-width: 1199px) {

    //HEADER

    header nav {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: -100%;
        width: 100%;
        height: 100vh;
        background-color: $color-third;
        background-image: $gradient;
        transition: top 0.5s;
    }

    #menu__m:target {
        display: block;
        top: 0;
    }

    .header__nav__icon {
        display: block;
        margin: 0;
    }

    .close {
        position: absolute;
        right: 12rem;
        top: 6rem;
    }

    .header__contain {
        .header__nav {
            display: flex;
            justify-content: space-around;
        }

        ul {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                margin: 2rem 0;

                a {
                    font-size: 4rem;
                    letter-spacing: 0.3rem;
                }
            }
        }

        .header__parallax__main {
            background-image: url("../images/parallax/mini/main-header-min.jpg");
            background-position-y: 6rem;
            background-position-x: center;
        }

        .header__parallax__home {
            background-image: url("../images/parallax/mini/main-mando-1199x.jpg");
            background-position-y: 6rem;
            background-position-x: center;
        }

        .header__intro {
            color: $color-main;
            font-size: 3rem;
            font-family: $font-second;
            text-align: center;
            padding: 6rem;
            line-height: 1.6;
            letter-spacing: $size-main;
        }
    }

    //FORM

    .home__form__age {
        font-size: 1.5rem;
    }

    //CHARACTERS CAROUSEL

    .carousel__img {
        width: 10rem !important;
        height: 10rem !important;
        border-radius: 50%;
        filter: grayscale(80);

        &:hover {
            filter: none;
        }
    }
}

// MEDIA QUERIE TABLET 768px

@media screen and (max-width: 768px) {

    //HEADER

    header nav {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: -100%;
        width: 100%;
        height: 100vh;
        background-color: $color-third;
        background-image: $gradient;
        transition: top 0.5s;
    }

    #menu__m:target {
        display: block;
        top: 0;
    }

    .header__nav__icon {
        display: block;
        margin: 0;
    }

    .close {
        position: absolute;
        right: 12rem;
        top: 6rem;
    }

    .header__contain {
        .header__nav {
            display: flex;
            justify-content: space-around;
        }

        ul {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                margin: 2rem 0;

                a {
                    font-size: 4rem;
                    letter-spacing: 0.3rem;
                }
            }
        }

        .header__parallax__main {
            background-image: url("../images/parallax/mini/main-header-768x.jpg");
            background-attachment: scroll;
        }

        .header__parallax__home {
            background-image: url("../images/parallax/mini/main-mando-768x.jpg");
            background-position: center;
            background-attachment: scroll;
        }

        .header__parallax__creators {
            background-image: url("../images/parallax/mini/sw-creators-768x.jpg");
            min-height: 35rem;
            background-attachment: scroll;
        }

        .header__parallax__characters {
            background-image: url("../images/parallax/mini/sw-characters-768x.jpg");
            min-height: 35rem;
            background-attachment: scroll;
        }

        .header__parallax__episodes {
            background-image: url("../images/parallax/mini/sw-episodes-768x.jpg");
            min-height: 35rem;
            background-attachment: scroll;
        }

        .header__parallax__extras {
            background-image: url("../images/parallax/mini/sw-extras-768x.jpg");
            min-height: 35rem;
            background-attachment: scroll;
        }

        .header__intro {
            color: $color-main;
            font-size: 3rem;
            font-family: $font-second;
            text-align: center;
            padding: 6rem;
            line-height: 1.6;
            letter-spacing: $size-main;
        }

        .header__title {
            color: $color-main;
            font-size: 3rem;
            font-family: $font-second;
            display: flex;
            justify-content: center;
            vertical-align: middle;
            letter-spacing: $size-main;
        }
    }

    //FORM

    .home__form__age {
        font-size: 1.5rem;
    }

    //MODAL - EXTRAS
    .modal-header {
        .modal__icon {
            position: absolute;
            right: 0rem;
            top: 0rem;
        }

        .close-modal {
            display: block;
            margin: 2rem 3rem 3rem 3rem !important;
            width: 2rem;
            height: 2rem;
        }

        .pointer {
            cursor: pointer;
        }

        .close-modal {
            width: 2rem;
            height: 2rem;
        }
    }

    //CHARACTERS CAROUSEL

    .carousel__img {
        width: 10rem !important;
        height: auto !important;
        border-radius: 50%;
        filter: none !important;
    }

    //ACORDEON CREATOR

    .creators__contain {
        padding: 2rem;

        .accordion {

            .creators__button {
                color: $color-details;
                font-size: 3rem !important;
                padding: 1rem 2rem !important;
            }
        }
    }

    //TITLE CREATOR

    .creators__contain {
        padding: 2rem;

        .container {
            margin-top: 3.5rem !important;
        }

        .subtitle {
            margin: 0 0 2rem 0;

            &--margin {
                margin-top: 3rem;
            }
        }
    }
}


//MEDIA QUERIE CELULAR 576px
@media screen and (max-width: 576px) {

    //HEADER

    .container {
        padding: 2rem;
    }

    header nav {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        background-color: $color-third;
        background-image: $gradient;
        transition: top 0.5s;
    }

    #menu__m:target {
        display: block;
        top: 0;
    }

    .header__nav__icon {
        display: block;
        margin: 0;
        width: 5rem;
        height: 5rem;
    }

    .close {
        position: absolute;
        right: 4rem;
        top: 4rem;
        width: 4rem;
        height: 4rem;
    }

    .header__contain {
        margin: 0;
        padding: 0;

        .header__nav {
            display: flex;
            justify-content: space-evenly;

            .header__logo__mando {
                height: 6rem;
                width: 18rem;
            }
        }

        ul {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                margin: 2rem 0;

                a {
                    font-size: 2rem;
                    letter-spacing: 0.3rem;
                }
            }
        }

        .header__parallax__main {
            background-image: url("../images/parallax/mini/main-header-576x.jpg");
            min-height: 40rem;
            background-position-y: 8rem;
            background-position-x: center;
            background-attachment: scroll;
        }

        .header__parallax__home {
            background-image: url("../images/parallax/mini/main-mando-576x.jpg");
            min-height: 20rem;
            background-position-x: center;
            background-attachment: scroll;
        }

        .header__parallax__creators {
            background-image: url("../images/parallax/mini/sw-creators-576x.jpg");
            min-height: 30rem;
            background-attachment: scroll;
        }

        .header__parallax__characters {
            background-image: url("../images/parallax/mini/sw-characters-576x.jpg");
            min-height: 30rem;
            background-attachment: scroll;
        }

        .header__parallax__episodes {
            background-image: url("../images/parallax/mini/sw-episodes-576x.jpg");
            min-height: 30rem;
            background-attachment: scroll;
        }

        .header__parallax__extras {
            background-image: url("../images/parallax/mini/sw-extras-576x.jpg");
            min-height: 30rem;
            background-attachment: scroll;
        }

        .header__title {
            color: $color-main;
            font-size: 3rem;
            font-family: $font-second;
            display: flex;
            justify-content: center;
            vertical-align: middle;
            letter-spacing: $size-main;
        }

        .header__intro {
            color: $color-main;
            font-size: 2rem;
            font-family: $font-second;
            text-align: center;
            padding: $size-main;
            margin: 3rem 0.4rem;
            line-height: 3rem;
            letter-spacing: 0.6rem;
        }

        .animate__animated.animate__fadeInDown {
            --animate-duration: off;
        }
    }

    //FORM

    .home__form__age {
        font-size: 1.5rem;
    }

    .home__form--color {
        font-size: 1.8rem;
        color: $color-main;
    }

    .home__form--flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    //CAROUSEL

    .home__carousel__arrow {
        width: 4rem;
        height: 4rem;
    }

    //MODAL - EXTRAS
    .modal-header {
        .modal__icon {
            position: absolute;
            right: 0rem;
            top: 0rem;
        }

        .close-modal {
            display: block;
            margin: 2rem 3rem 3rem 3rem !important;
            width: 2rem;
            height: 2rem;
        }

        .pointer {
            cursor: pointer;
        }

        .close-modal {
            width: 2rem;
            height: 2rem;
        }
    }

    //CHARACTERS MAIN
    .charas__contain {
        display: flex;
        flex-direction: column;
        padding: 0 !important;

        .charas__main__img {
            margin-top: 3rem !important;
            width: 100%;
        }
    }

    //CHARACTERS CAROUSEL

    .carousel-inner {
        margin: 2.5rem 0 !important;
        position: unset !important;

        .row__carousel__characters {
            display: flex !important;
            justify-content: space-evenly !important;

            .carousel__img {
                width: 6rem !important;
                height: auto !important;
                border-radius: 50%;
                filter: none !important;
            }
        }

        .home__carousel__arrow--characters {
            height: 2rem !important;
            width: auto;
        }
    }

    .carousel__control__width {
        width: 1% !important;
    }

    //GALLERY IMAGES

    .charas__gallery__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .charas__gallery__col {
            padding: 0.5rem;

            img {
                margin-top: $size-main;
                filter: none !important;
            }
        }
    }

    //TITLE CREATOR

    .creators__contain {
        padding: 2rem;

        .container {
            margin-top: 2.5rem !important;
        }

        .subtitle {
            margin: 0 0 2rem 0;

            &--margin {
                margin-top: 3rem;
            }
        }

        //ACORDEON CREATOR
        .accordion {

            .creators__button {
                color: $color-details;
                font-size: 3rem !important;
                padding: 1rem 2rem !important;
            }
        }
    }

    //IFRAME
    .episodes__video {
        margin-top: 2rem !important;
        margin-bottom: 5rem;
    }
}