$font-main: "Poppins",
sans-serif !default;
$color-main: #ffebcd !default;
$size-main: 1rem;

$font-second: "death_starregular",
sans-serif;
$color-second: orange;

$color-third: #151515;
$gradient: repeating-linear-gradient(rgb(27, 27, 27), black);

$subtitle-color: #dba759;

$emphasis: #f5f5f5;
$color-details: lightseagreen;


$button-shadows: 0 0 10px rgba(0, 0, 0, 0.5);
$box-shadows: 0 0 10px rgba(0, 0, 0, 0.2);